/* Add background color to entire body of HTML file. */
body{
    background-color: white;
}
/* Used to configure boxes around specific HTML elements */
.box {
    background-color: #db574b;
    border-style: groove;
    border-color: #000000;
    border-width: 1px;
    border-radius: 10px;
}
h2#overview {
    color:hsl(196, 100%, 38%)
}
*.header {
    color:hsl(196, 100%, 38%)
}

*.bold {
    color:rgb(255, 0, 0)
}
